@model CloudManager.Models.Device

@{
    ViewData["Title"] = "Delete";
}

<h2>DELETE</h2>
<h4>Device</h4>
<hr />

<div>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.DeviceID)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DeviceID)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CustomerID)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CustomerID)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Date)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Date)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.AuthKey)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.AuthKey)
        </dd>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="DeviceID" />
        <input type="submit" value="Delete" class="btn btn-default" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
