@model IEnumerable<CloudManager.Models.Device>

@{
    ViewData["Title"] = "Manage device";
}

<h2>Manage device</h2>

<h4><a asp-action="Create">Create New</a></h4>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DeviceID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CustomerID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
       @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DeviceID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Customer.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.DeviceID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.DeviceID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.DeviceID">Delete</a>
            </td>
        </tr>
        }
    </tbody>
</table>
